<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employee)">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">

            <div class="form-group" [class.has-error]="name.invalid && name.touched"
            [ngClass]="{'has-success': name.valid}">
                <label for="name" class="control-label">Name</label>
                <input required id="name" type="text" class="form-control" name="name" 
                [(ngModel)]="employee.name" #name="ngModel">
                <div class="help-block" *ngIf="name.invalid && name.touched">
                    Name is required
                </div>
            </div>

            <div class="form-group" [class.has-error]="contactPreference.invalid">
                <label class="control-label">Contact Preference</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input required type="radio" name="contactPreference" value="email" #contactPreference="ngModel" [(ngModel)]="employee.contactPreference">
                        Email
                    </label>
                    <label class="radio-inline">
                        <input required type="radio" name="contactPreference" value="phone" #contactPreference="ngModel" [(ngModel)]="employee.contactPreference">
                        Phone
                    </label>
                </div>
                <span class="help-block" *ngIf="contactPreference.errors?.required">
                    Contact Preference is required
                </span>
            </div>

            <div class="form-group" [class.has-error]="email?.invalid">
                <label for="email" class="control-label">Email</label>
                <input ng-required="contactPreference.value == 'email'" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" id="email" type="text" class="form-control" name="email" #email="ngModel" [(ngModel)]="employee.email">
                <span class="help-block" *ngIf="email.errors?.required">
                    Email is required
                </span>
                <span class="help-block" *ngIf="email.errors?.pattern">
                    Email is invalid
                </span>
            </div>

            <div class="form-group" [class.has-error]="phoneNumber?.invalid">
                <label for="phoneNumber" class="control-label">Phone Number</label>
                <input [attr.required]="contactPreference.value == 'phone'" id="phoneNumber" type="text" class="form-control" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="employee.phoneNumber">
                <span class="help-block" *ngIf="phoneNumber.errors?.required">
                    Phone Number is required    
                </span>
            </div>

            <div class="form-group" [class.has-error]="gender.invalid">
                <label class="control-label">Gender</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input required type="radio" name="gender" value="male" #gender="ngModel" [(ngModel)]="employee.gender" checked>
                        Male
                    </label>
                    <label class="radio-inline">
                        <input required type="radio" name="gender" value="female" #gender="ngModel" [(ngModel)]="employee.gender">
                        Female
                    </label>
                </div>
                <span class="help-block" *ngIf="gender.errors?.required">
                    Gender is required
                </span>
            </div>
            <div class="form-group" [class.has-error]="isActive.invalid && isActive.touched">
                <div class="form-control">
                    <label class="checkbox-inline" class="control-label">
                        <input [attr.required]="isActive.value==null" type="checkbox" name="isActive" #isActive="ngModel" [(ngModel)]="employee.isActive">Is Active
                    </label>
                </div>
                <span class="help-block" *ngIf="isActive.errors?.required && isActive.touched">
                    IsActive is required
                </span>
            </div>
            <div class="form-group" [class.has-error]="department.touched && department.errors?.defaultSelected">
                <label for="department" class="control-label">Department</label>
                <select appSelectValidator id="department" name="department" #department="ngModel"
                        [(ngModel)]="employee.department" class="form-control">
                    <option value="-1">Select Department</option> 
                    <option *ngFor="let dept of departments" [value]="dept.id">
                        {{dept.name}}
                    </option>
                </select>
                <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">
                    Department is required
                </span>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input bsDatepicker [bsConfig]="datePickerConfig" placement="right" type="text" name="dateOfBirth"  id="dateOfBirth" [(ngModel)]="employee.dateOfBirth" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="photoPath">Photo Path</label>
                <input id="photoPath" type="text" class="form-control"
                        name="photoPath" [(ngModel)]="employee.photoPath">
            </div>
            <div class="form-group">
                <div class="form-group">
                    <button (click)="togglePhotoPreview()" type="button" class="btn btn-primary">
                      {{previewPhoto ? "Hide " : "Show " }} Preview
                    </button>
                </div>
                <img [src]="employee.photoPath" height="200" width="200" *ngIf="previewPhoto"/>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">Save</button>
        </div>
    </div>
</form>
Angular Generated Form Model : {{employeeForm.value | json}}
Date of birth : {{ employeeForm.value.dateOfBirth }}